<nz-modal [(nzVisible)]="isVisible" nzWidth="468px" nzHeight="328px" (nzOnCancel)="handleCancel()"
          nzTitle="{{modalTitle}}" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>
  <div *nzModalFooter>
    <button class="modalBtn" style="background-color: #22222224; width: 110px" nz-button nzType="default"
            (click)="handleCancel()">Сбросить
    </button>
    <button class="modalBtn" style="background-color: #77C48D; color: white; width: 123px" nz-button
            nzType="default" (click)="handleOk()">Применить
    </button>
  </div>
</nz-modal>
