::ng-deep .ant-form-item-label > label {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 600;
}
.modalInput {
  width: 472px;
  height: 42px;
  margin: 0px 16px 16px 0px;
  border-radius: 4px;
}
