<form  #form="ngForm">
    <nz-form-item>
      <nz-form-label>Родительская организационная 
        единица
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>БИН
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на казахском 
        языке
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на русском языке
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>РНаименование на казахском 
        языке (кому)        
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на русском языке 
        (кому)        
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Родительская организационная 
        единица
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Код КАТО
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Тип организации
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Тип подразделения
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Индекс
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Заблокированное
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Дата начала действия
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Дата окончания действия
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
</form>