<form  #form="ngForm">
    <nz-form-item>
      <nz-form-label>Родительская организационная 
        единица
        </nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Выберите организацию" [(ngModel)]="selectedValue">
          <nz-option nzLabel="todo api1" nzValue="todo api1"></nz-option>
          <nz-option nzLabel="todo api2" nzValue="todo api2"></nz-option>
          <nz-option nzLabel="todo api3" nzValue="todo api3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>БИН
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на казахском 
        языке
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на русском языке
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на казахском 
        языке (кому)        
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Наименование на русском языке 
        (кому)        
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Родительская организационная 
        единица
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Код КАТО
        </nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Выберите КАТО" [(ngModel)]="selectedValue">
          <nz-option nzLabel="todo api1" nzValue="todo api1"></nz-option>
          <nz-option nzLabel="todo api2" nzValue="todo api2"></nz-option>
          <nz-option nzLabel="todo api3" nzValue="todo api3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Тип организации
        </nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Выберите тип организации" [(ngModel)]="selectedValue">
          <nz-option nzLabel="todo api1" nzValue="todo api1"></nz-option>
          <nz-option nzLabel="todo api2" nzValue="todo api2"></nz-option>
          <nz-option nzLabel="todo api3" nzValue="todo api3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Тип подразделения
        </nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Выберите тип подразделения" [(ngModel)]="selectedValue">
          <nz-option nzLabel="todo api1" nzValue="todo api1"></nz-option>
          <nz-option nzLabel="todo api2" nzValue="todo api2"></nz-option>
          <nz-option nzLabel="todo api3" nzValue="todo api3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Индекс
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Заблокированное
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Дата начала действия
        </nz-form-label>
      <nz-form-control>
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Дата окончания действия
        </nz-form-label>
      <nz-form-control>
        <input nz-input name="name" ngModel required>
      </nz-form-control>
    </nz-form-item>
</form>