<nz-row style="background: white;">
  <div class="setbar">
    <nz-col>
      <button
        nz-button
        nzType="default"
        class="addAnimalsBtn"
        (click)="showContent('add-animals')"
      >
        <span
          nz-icon
          nzType="plus"
          nzTheme="outline"
          style="width: 20px; height: 20px"
        ></span>
        Добавить животных
      </button>
    </nz-col>
    <nz-col [nzSpan]="17">
      <nz-input-group
        [nzPrefix]="prefixIconSearch"
        [nzSuffix]="suffixIconFilter"
        class="searchInput"
      >
        <input
          class="inputText"
          type="text"
          nz-input
          placeholder="Поиск по параметрам"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <span
          nz-icon
          nzType="search"
          style="color: #17b9da; margin-right: 5px"
        ></span>
      </ng-template>
      <ng-template #suffixIconFilter>
        <span
          nz-icon
          nzType="filter"
          nzTheme="fill"
          style="color: black; margin-right: 5px"
        ></span>
        <p class="filters" (click)="showModalFilter()">Фильтры</p>
      </ng-template>
    </nz-col>
    <nz-col>
      <button
        nz-button
        nzType="default"
        class="tableSettingBtn"
        (click)="showModalSetting()"
      >
        <span
          nz-icon
          nzType="setting"
          nzTheme="outline"
          style="width: 20px; height: 20px"
        ></span>
        Настройки таблицы
      </button>
    </nz-col>
  </div>
</nz-row>
<nz-row style="background: white; padding: 0 24px 0 24px">
  <div class="container-mid">
    <nz-col style="margin-right: 24px;">
      <nz-input-group [nzSuffix]="suffixIcon" class="regionSearch">
        <input
          type="text"
          nz-input
          placeholder="Наименование региона"
          ngModel
          (ngModelChange)="searchValue$.next($event)"
        />
      </nz-input-group>
      <ng-template #suffixIcon>
        <span nz-icon nzType="menu" nzTheme="outline"></span>
      </ng-template>

      <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" nzNoAnimation class="regionBtn">
        <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
          <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
          <span [innerHTML]="node.name | nzHighlight: searchValue:'i':'highlight'"></span>
        </nz-tree-node>

        <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
          <nz-tree-node-toggle>
            <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
          </nz-tree-node-toggle>
          <span [innerHTML]="node.name | nzHighlight: searchValue:'i':'highlight'"></span>
        </nz-tree-node>
      </nz-tree-view>
    </nz-col>
    <nz-col style="width: 100%;">
      <app-metadata
        [data]="listOfData"
        [columns]="columns"
        [actions]="actions"
        (queryChange)="onQueryParamsChange($event)"
      ></app-metadata>
    </nz-col>
  </div>
</nz-row>
<app-dynamic-modal
  [isVisible]="isVisibleSetting"
  (isVisibleChange)="isVisibleSetting = $event"
  [modalTitle]="modalTitle"
  (onCancel)="handleModalCancel()"
  (onConfirm)="handleFormSubmit()"
  [modalType]="'doubleButton'"
  [cancelButtonTitle]="'Сбросить'"
  [confirmButtonTitle]="'Применить'"
>
  <app-table-settings-form></app-table-settings-form>
</app-dynamic-modal>
<app-dynamic-modal
  [isVisible]="isVisible"
  (isVisibleChange)="isVisible = $event"
  [modalTitle]="modalTitle"
  (onCancel)="handleModalCancel()"
  (onConfirm)="handleFormSubmit()"
  [modalType]="'doubleButton'"
  [cancelButtonTitle]="'Сбросить'"
  [confirmButtonTitle]="'Применить'"
>
  <app-search-animal-filter></app-search-animal-filter>
</app-dynamic-modal>
