
.addAnimalsBtn {
  border-radius: 4px;
  background-color: #77C48D;
  height: 48px;
  color: white;
  border: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 205px;
}

::ng-deep .ant-row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.setbar {
  justify-content: space-between;
  display: flex;
  gap: 24px;
  position: relative;
  margin: 32px 24px 24px 24px;
}

.searchInput {
  border-radius: 4px;
  height: 48px;
}
.inputText {
  font-family: Inter, sans-serif;
  font-size: 14px;
}
.filters {
  margin: auto;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
  cursor: pointer;
}
.tableSettingBtn {
  border-radius: 4px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.container-mid {
  display: flex;
}

.regionSearch {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  margin-bottom: 8px;
  border: 0;
  height: 34px;
}
.regionBtn {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  margin-bottom: 8px;
  padding: 0;
  line-height: 16px;
  text-align: start;
  border: 0px;
}

.regionText {
  margin: 0 32px 0 16px;
}

nz-input-group {
  margin-bottom: 8px;
}

::ng-deep .highlight {
  color: red;
}
