<p class="tableSettingText">Количество строк: </p>
<nz-button-group style="margin-bottom: 15px">
  <button nz-button nzType="default" class="stringBtn">15</button>
  <button nz-button nzType="default" class="stringBtn">30</button>
  <button nz-button nzType="default" class="stringBtn">45</button>
  <button nz-button nzType="default" class="stringBtn">60</button>
</nz-button-group>
<p class="tableSettingText">Отображать столбцы: </p>
<label nz-checkbox formControlName="remember">
  <span>Label</span>
</label>
<label nz-checkbox formControlName="remember">
  <span>Label</span>
</label>
