<nz-row style="background: white;">
  <div class="setbar">
    <nz-col >
      <button nz-button nzType="primary" class="addRole" (click)="openModal()">
        <span
          nz-icon
          nzType="plus"
          nzTheme="outline"
          style="width: 20px; height: 20px"
        ></span>
        Добавить роль
      </button>
    </nz-col>
    <nz-col [nzSpan]="18">
      <nz-input-group
        [nzPrefix]="prefixIconSearch"
        [nzSuffix]="suffixIconFilter"
        class="searchInput"
      >
        <input
          class="inputText"
          type="text"
          nz-input
          placeholder="Поиск по параметрам"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <span
          nz-icon
          nzType="search"
          style="color: #17b9da; margin-right: 5px"
        ></span>
      </ng-template>
      <ng-template #suffixIconFilter>
        <span
          nz-icon
          nzType="filter"
          nzTheme="fill"
          style="color: black; margin-right: 5px"
        ></span>
        <p class="filters" (click)="showModalFilter()">Фильтры</p>
      </ng-template>
    </nz-col>
    <nz-col>
      <button
        nz-button
        nzType="default"
        class="export-excel-button"
        (click)="showModalSetting()"
      >
        <span
          nz-icon
          nzType="setting"
          nzTheme="outline"
          style="width: 20px; height: 20px"
        ></span>
        Выгрузить в Excel
      </button>
    </nz-col>
  </div>
</nz-row>
<nz-row style="background: white; height: 70px;">
  <div class="service-buttons-container">
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        Общее
      </button>
    </nz-col>
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        ИСЖ
      </button>
    </nz-col>
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        ПЦ
      </button>
    </nz-col>
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        РВЛ
      </button>
    </nz-col>
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        РПО
      </button>
    </nz-col>
    <nz-col>
      <button nz-button class="service-button" (click)="openModal()">
        ЕАСУ
      </button>
    </nz-col>
  </div>
</nz-row>
<nz-row style="background-color: white; padding: 0 24px 0 24px; width: 100%">
  <app-metadata
    [data]="listOfRandomUser"
    [columns]="columns"
    [actions]="ConfigureActionColumn"
    (queryChange)="onQueryParamsChange($event)"
    (actionClick)="onActionClick($event)"
  ></app-metadata>
</nz-row>
<app-dynamic-modal [isVisible]="isVisible" (isVisibleChange)="isVisible = $event" [modalTitle]="modalTitle"
                   (onCancel)="handleModalCancel()" (onConfirm)="handleFormSubmit()">
  <app-add-users-form></app-add-users-form>
</app-dynamic-modal>
<app-dynamic-modal
  [isVisible]="isVisibleHistoryModal"
  (isVisibleChange)="isVisibleHistoryModal = $event"
  [modalTitle]="modalTitle"
  [modalType]="'singleButton'"
  (onCancel)="handleModalCancel()"
  [confirmButtonTitle]="'Закрыть'"
>
  <app-organization-history></app-organization-history>
</app-dynamic-modal>

<app-dynamic-modal
  [isVisible]="isVisibleDeletingModal"
  (isVisibleChange)="isVisibleDeletingModal = $event"
  [modalTitle]="modalTitle"
  [modalType]="'doubleButton'"
  [cancelButtonTitle]="'Отмена'"
  [confirmButtonTitle]="'Удалить'"
  (onCancel)="handleModalCancel()"
  (onConfirm)="handleFormSubmit()"
>
  <app-deleting-form></app-deleting-form>
</app-dynamic-modal>
