::ng-deep .ant-row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}
.searchInput {
  border-radius: 4px;
  height: 48px;
}
.inputText {
  font-family: Inter, sans-serif;
  font-size: 14px;
}
.filters {
  margin: auto;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter, sans-serif;
  cursor: pointer;
}

.service-button{
  border-radius: 4px;
  border-color: #17B9DA;
  width: 80px;
  height: 30px;
}
.service-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #145764;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}
.service-buttons-container {
  display: flex;
  margin: 24px 24px 24px 24px;
}
.setbar {
  justify-content: space-between;
  display: flex;
  gap: 24px;
  position: relative;
  margin: 32px 24px 24px 24px;
}

.addUser{
  border-radius: 4px;
  background-color: #77C48D;
  height: 48px;
  color: white;
  border: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.addUser:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #145764;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

.export-excel-button{
  border-radius: 4px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;

}
.export-excel-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #145764;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

