<nz-row>
    <div class="list-users-text">
        <h1 class="text-container">Журнал пользователей</h1>
    </div>
</nz-row>

<nz-row style="background: white; height: 65px;">
    <div class="setbar">
        <nz-col [nzSpan]="3">
            <button nz-button nzType="primary" class="addUser" (click)="openModal()">
                Добавить пользователя
            </button>
        </nz-col>
        <nz-col [nzSpan]="17">
            <input nz-input placeholder="Поиск" [(ngModel)]="value" />
        </nz-col>
        <nz-col [nzSpan]="5">
            <button nz-button class="export-excel-button">Выгрузить в Excel</button>
        </nz-col>
    </div>
</nz-row>

<nz-row style="background: white; height: 70px;">
    <div class="service-buttons-container">
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                Общее
            </button>
        </nz-col>
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                ИСЖ
            </button>
        </nz-col>
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                ПЦ
            </button>
        </nz-col>
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                РВЛ
            </button>
        </nz-col>
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                РПО
            </button>
        </nz-col>
        <nz-col>
            <button nz-button class="service-button" (click)="openModal()">
                ЕАСУ
            </button>
        </nz-col>
    </div>
</nz-row>

<nz-row>
    <app-metadata [data]="userList" [columns]="columns" [actions]="actions"
        (queryChange)="onQueryParamsChange($event)"></app-metadata>
</nz-row>

<app-dynamic-modal [isVisible]="isVisible" (isVisibleChange)="isVisible = $event" [modalTitle]="modalTitle"
    (onCancel)="handleModalCancel()" (onConfirm)="handleFormSubmit()">
    <app-add-users-form></app-add-users-form>
</app-dynamic-modal>

<router-outlet></router-outlet>