.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  a {
    color: #1890ff;
  }
  
  .login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }