<nz-row style="background: white; height: 70px;">
  <div class="setbar">
    <nz-col [nzSpan]="4">
      <button nz-button nzType="primary" class="addOrg" (click)="openModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Добавить организацию
      </button>
    </nz-col>
    <nz-col [nzSpan]="16">
      <nz-input-group [nzPrefix]="prefixIconSearch" class="searchInput">
        <input class="inputText" type="text" nz-input placeholder="Поиск по параметрам"/>
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <span nz-icon nzType="search" style="color: #17B9DA; margin-right: 5px"></span>
      </ng-template>
    </nz-col>
    <nz-col [nzSpan]="4">
      <button nz-button nzType="default" class="tableSettingBtn" (click)="showModalSetting()">
        <span nz-icon nzType="setting" nzTheme="outline" style="width: 20px; height: 20px"></span>
        Настройки таблицы
      </button>
    </nz-col>
  </div>
</nz-row>

<nz-row>
  <app-metadata [data]="listOfRandomUser" [columns]="columns" [actions]="ConfigureActionColumn" (queryChange)="onQueryParamsChange($event)" (actionClick)="onActionClick($event)"></app-metadata>
</nz-row>

<app-dynamic-modal [isVisible]="isVisible" (isVisibleChange)="isVisible = $event" [modalTitle]="modalTitle" (onCancel)="handleModalCancel()" (onConfirm)="handleFormSubmit()">
  <app-add-organization-form></app-add-organization-form>
</app-dynamic-modal>

<app-dynamic-modal
  [isVisible]="isVisibleHistoryModal"
  (isVisibleChange)="isVisibleHistoryModal = $event"
  [modalTitle]="modalTitle"
  (onCancel)="handleModalCancel()"
  (onConfirm)="handleFormSubmit()">
  adsasd content of modal
</app-dynamic-modal>

<router-outlet></router-outlet>
