::ng-deep .ant-row {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
}
.frame-2 {
    align-items: center;
    background-color: #76c38c;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 14px 16px;
    position: relative;
    width: fit-content;
}
.setbar {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 24px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
.addOrg{
    border-radius: 4px;
    background: #77C48D;
    border-color: #77C48D;
    width: 205px;
    height: 48px;
}
.tableSettingBtn {
  border-radius: 4px;
  height: 48px;
  width: 205px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.searchInput {
  height: 48px;
  width: 970px;
  border-radius: 4px;
  margin: 0 24px 0 24px;
}
.inputText {
  font-family: Inter, sans-serif;
  font-size: 14px;
}
