<div class="container">
  <nz-row>
    <div class="pc-tab">
      <input id="users" type="radio" name="pct" [checked]="selectedTab === 'users'" />
      <input id="organizations" type="radio" name="pct" [checked]="selectedTab === 'organizations'" />
      <input id="roles-permissions" type="radio" name="pct" />
      <input id="contracts" type="radio" name="pct" />
      <nav>
        <ul>
          <li class="organizations">
            <label for="organizations" (click)="showContent('organizations')">Статистика</label>
          </li>
          <li class="users">
            <label for="users" (click)="showContent('animal-registry')">Реестр животных</label>
          </li>
        </ul>
      </nav>
    </div>
  </nz-row>
</div>
<router-outlet></router-outlet>
