.header-menu {
  display: flex;
  padding: 0px;
}

.menuTitle {
  width: 42px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #17B9DA;
  padding-left: 10px;
}
.menuBtnDiv{
  margin-right: 24px;
}
.searchDiv {
  width: 200px;
}
.mainMenuButton {
  margin: 0px 24px 0px 42px;
  color: #17B9DA;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 86px;
  height: 36px;
  background: #dcf3f8;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-color: #dcf3f8;
}
.ant-layout-header {
  height: 64px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: white;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: -webkit-fill-available;
  background: #f0f2f5;
}

.breadcrumb {
  padding-left: 50px;
}
.icon-with-desc p {
  white-space: nowrap;
}

.icon-with-desc {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../app/iszh-icons/iszh_main_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 18px 0 18px 0;

  }
}
.settings-icon-desc {
  margin: 0 auto;
  position: relative;
  line-height: normal;
  font-weight: 600;
  display: inline;
  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../app/iszh-icons/mdi_cog-outline.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu-row {
  flex-flow: inherit;
}

.icon-desc {
  line-height: normal;
  margin: 0 16px 0 16px;
  width: 70%;
  font-weight: 600;
  display: inline;
}

.loginButton {
  display: inline;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: #17B9DA;
  border-color: #17B9DA;
  margin-left: 50px;
}

.loginTitle {
  width: 42px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-left: 10px;
}

.logoutButton {
  display: inline;
  padding: 7px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  background: rgba(34, 34, 34, 0.14);
  border-color: rgba(34, 34, 34, 0.14);
}

.logoutTitle{
  width: 42px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #222;;
  padding-left: 10px;
}

.logoutIcon{
  color: #222;
}
