<nz-layout>
  <nz-row class="menu-row">
    <nz-header class="header-menu">
      <div nz-col [nzSpan]="2">
        <button nz-button nzType="primary" class="mainMenuButton">
          <span nz-icon nzType="menu" nzTheme="outline" class="menuIcon"></span>
          <a class="menuTitle">Меню</a>
        </button>
      </div>
      <div nz-col [nzSpan]="6" class="icon-with-desc">
        <p class="icon-desc">
          Информационная система «Идентификация сельскохозяйственных животных»
        </p>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Поиск" />
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="2">KZ/RU</div>
      <div nz-col [nzSpan]="2"><p class="settings-icon-desc">Настройки сайта</p></div>
      <div nz-col [nzSpan]="4">
        <button nz-button nzType="primary" class="loginButton" routerLink="/login">
          <span nz-icon nzType="login" nzTheme="outline" class="loginIcon"></span>
          <a class="loginTitle">Войти</a>
        </button>
      </div>
    </nz-header>
  </nz-row>
  <nz-row>
    <app-breadcrumb></app-breadcrumb>
  </nz-row>
  <router-outlet></router-outlet>
</nz-layout>
<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
