<nz-modal class="dynamic-modal" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" nzTitle="{{modalTitle}}" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>
  <div *nzModalFooter>
    <button
      *ngIf="modalType === 'doubleButton'"
      class="modalBtn"
      style="background-color: #22222224; width: 110px; height: 39px"
      nz-button
      nzType="default"
      (click)="handleCancel()"
    >
      {{cancelButtonTitle}}
    </button>
    <button
      class="modalBtn"
      [style.background-color]="modalType === 'singleButton' ? '#77C48D' : '#77C48D'"
      style="width: 123px; height: 39px"
      nz-button
      nzType="default"
      (click)="handleOk()"
    >
      {{confirmButtonTitle}}
    </button>
  </div>
</nz-modal>
