.ellipsis-button {
  width: 20px;
  height: 20px;
  //background: url(../../iszh-icons/prime_ellipsis.svg) center center no-repeat;
  cursor: pointer;
}

.popover {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 5px;
  z-index: 999;
}

.popover button {
  display: block;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
td {
  height: 25px;
}
