<nz-row style="background: white; height: 70px;">
  <div class="setbar">
    <nz-col [nzSpan]="4">
      <button nz-button nzType="primary" class="addOrg" (click)="openModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Добавить животных
      </button>
    </nz-col>
    <nz-col [nzSpan]="16">
      <nz-input-group [nzPrefix]="prefixIconSearch" [nzSuffix]="suffixIconFilter" class="searchInput">
        <input class="inputText" type="text" nz-input placeholder="Поиск по параметрам"/>
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <span nz-icon nzType="search" style="color: #17B9DA; margin-right: 5px"></span>
      </ng-template>
      <ng-template #suffixIconFilter>
        <span nz-icon nzType="filter" nzTheme="fill" style="color: black; margin-right: 5px"></span>
        <p class="filters" (click)="showModalFilter()">Фильтры</p>
      </ng-template>
    </nz-col>
    <nz-col [nzSpan]="4">
      <button nz-button nzType="default" class="tableSettingBtn" (click)="showModalSetting()">
        <span nz-icon nzType="setting" nzTheme="outline" style="width: 20px; height: 20px"></span>
        Настройки таблицы
      </button>
    </nz-col>
  </div>
</nz-row>
<nz-row>
  <app-dynamic-modal [isVisible]="isVisibleSetting" (isVisibleChange)="isVisibleSetting = $event"
                           [modalTitle]="modalTitle"
                           (onCancel)="handleModalCancel()" (onConfirm)="handleFormSubmit()">
    <app-table-settings-form></app-table-settings-form>
  </app-dynamic-modal>
</nz-row>
<nz-row>
  <app-dynamic-modal [isVisible]="isVisible" (isVisibleChange)="isVisible = $event" [modalTitle]="modalTitle"
                    (onCancel)="handleModalCancel()" (onConfirm)="handleFormSubmit()">
    <app-search-animal-filter></app-search-animal-filter>
  </app-dynamic-modal>
</nz-row>


<nz-row style="background: white;">
  <div class="container-mid">
  <nz-col [nzSpan]="4">
    <nz-input-group [nzSuffix]="suffixIcon" class="regionSearch">
      <input type="text" nz-input placeholder="Наименование региона" [(ngModel)]="searchValue"/>
    </nz-input-group>
    <ng-template #suffixIcon>
      <span nz-icon nzType="menu" nzTheme="outline"></span>
    </ng-template>
    <nz-row class="row">
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Акмолинская область</p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Актюбинская область </p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Алматинская область </p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Атырауская область</p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn" style="height: 48px; ">
          <p class="regionText">Западно-Казахстанская область</p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Жамбылская область</p>
        </button>
      </nz-col>
      <nz-col class="col">
        <button nz-button nzType="default" class="regionBtn">
          <p class="regionText">Карагандинская область</p>
        </button>
      </nz-col>
    </nz-row>
    </nz-col>
  <nz-col [nzSpan]="16">
    <app-metadata [data]="listOfData" [columns]="columns" [actions]="actions"
                  (queryChange)="onQueryParamsChange($event)"></app-metadata>
    </nz-col>
  </div>
</nz-row>

