<div class="container">
  <nz-row>
    <div class="pc-tab">
      <input id="animal-registry" type="radio" name="pct" [checked]="selectedTab === 'animal-registry'" />
      <input id="statistics" type="radio" name="pct" [checked]="selectedTab === 'statistics'" />
      <nav>
        <ul>
          <li class="statistics">
            <label for="statistics" (click)="showContent('statistics')">Статистика</label>
          </li>
          <li class="animal-registry">
            <label for="animal-registry" (click)="showContent('animal-registry')">Реестр животных</label>
          </li>
        </ul>
      </nav>
    </div>
  </nz-row>
</div>
<router-outlet></router-outlet>
