<div class="container">
  <nz-row>
    <div class="pc-tab">
      <input id="users" type="radio" name="pct" [checked]="selectedTab === 'users'" />
      <input id="organizations" type="radio" name="pct" [checked]="selectedTab === 'organizations'" />
      <input id="roles-permissions" type="radio" name="pct" />
      <input id="contracts" type="radio" name="pct" />
      <nav>
        <ul>
          <li class="users">
            <label for="users" (click)="showContent('users')">Пользователи</label>
          </li>
          <li class="organizations">
            <label for="organizations" (click)="showContent('organizations')">Организации</label>
          </li>
          <li class="roles-permissions">
            <label for="roles-permissions" (click)="showContent('roles-accesses')">Роли и Доступы</label>
          </li>
          <li class="contracts">
            <label for="contracts">Договора</label>
          </li>
        </ul>
      </nav>
    </div>
  </nz-row>
</div>
<router-outlet></router-outlet>

